/* Navbar related */
nav .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(65, 105, 225, 0.71);
}

/* Video divs */
.video-wrapper {
    position: relative;
}
.video {
    height: 120vh;
    width: 100%;
    object-fit: cover;
}
.video-text {
    text-align: center;
    width: 90vw;
    position: absolute;
    top: 15%;
    left: 50%;
    color: white;
    transform: translate(-50%);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
    background-color: #00000070;
    border-radius: 20px;
    padding: 20px;
}

/* Menu */
.menu-div {
    top: 10%;
}
.menu-table {
    text-align: left;
    width: 100%;
}
.menu-table tbody tr td {
    vertical-align: baseline !important;
}
/* big screens only */
@media (min-height: 750px) {
    .menu-table {
        font-size: large;
    }
}

#countdown-pill {
    font-size: 1rem;
    background-color: rgba(65, 105, 225) !important;
}